name: Build

on:
  push:
    branches:
      - '**'
  pull_request:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Build Application
        run: bun run build:never-publish
        env:
          NODE_OPTIONS: '--max-old-space-size=4096'
